:root {
    --antrazitgrau: #293133;
    --antrazitgrauBild: #293133b9;
    --ghostwhite: #fef9ff;
    --snowwhite: #FFFAFA;
    --graphitblack: #27292B;
    --grey: #787878;
    --darkgray: rgba(172, 170, 170, 0.305);
}

body {
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/* Navbar */
.navbar {
    transition: all 0.6s;
}

.topnavigator {
    margin: auto;
    height: 4rem;
    z-index: 10;
}

.navbaronhover {
    display: inline-block;
    position: relative;
}

.navbaronhover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--ghostwhite);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.navbaronhover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s;
}

/* Social Media */
.link-to-social {
    width: 10rem;
    height: 3rem;
    padding-right: 1.5rem;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.flex-children {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.roundBackground {
    border-radius: 50%;
    border-color: var(--darkgray);
    border-style: solid;
    border-width: 10pt;
    z-index: 2;
}

.socialmedia-icons {
    z-index: 1;
    position: absolute;
}

/* Sidebar */
.s-sidebar__trigger {
    z-index: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
}

.sidebar {
    width: 23rem;
    height: 100vh;
    position: fixed;
    margin-left: auto;
    float: right;
    transition: right left 0.6s;
}

.sidebaritem-on_over:hover {
    -webkit-text-fill-color: var(--grey);
    transition: all 0.3s;
}

/* Logo */
.logo {
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./assets/LogoWithTextAside.svg');
    width: 10rem;
    height: 3rem;
    margin-left: 1.5rem;
    transition: all 0.6s
}

.logowhilescrolling {
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./assets/LogoWithText.svg');
    width: 10rem;
    height: 3rem;
    margin-left: 1.5rem;
    transition: all 0.6s
}

/* Header */
.header {
    width: 50rem;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-text-fill-color: var(--ghostwhite);
}

.Header>h1,
.Header>h2 {
    font-weight: bold;
}

.bg-picture {
    background-image: -webkit-image-set('./assets/abidat-nuernberg-kl.jpg');
    background-color: var(--antrazitgrauBild);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 10rem;
    border: none;
}

/* Contant-Container */
.h3 {
    -webkit-text-fill-color: var(--antrazitgrau);
}

.sektion {
    width: 40vw;
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}